<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Akshith-Yalla", "https://www.linkedin.com/in/akshith-reddy-yalla-890249106/", class: "text-white", target: "_blank" %></small>
  </div>
</footer>